extends layout

block content
  h1= title
  p Welcome to #{title} with user registration/authorization
  p Featured: 
  ul
    li mongoose + mongoDB
    li passport.js + local strategy
    li bcryptjs
    li nconf
  p Routes:
  ul
    li
      a(href="/users") Users
    li
     a(href="/login") Login
    li
      a(href="/register") Register