extends layout

block content
  h1 Register
  form(method='POST' action='/register')
    div
      label(for='username') Username: 
      input(type='text', name="username", maxlength="40", required)
    div
      label(for='email') Email: 
      input(type='email', name='email', required)
    div
      label(for='password') Password: 
      input(type='password', name='password', required)
    div
      label(for='repeatPassword') Repeat password: 
      input(type='password', name='repeatPassword', required)
    input(type='submit')
  